#### Importing libraries and data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('telecom_customer_churn.csv', true_values=['Yes'], false_values=['No']) # Reading csv file, converting Yes/No string to Boolean
data.sort_values(by=['Total Revenue'], ascending=False, inplace=True) # Sorting by Total Revenue
data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
95,0164-APGRB,Female,56,False,0,Calistoga,94515,38.629618,-122.593216,0,...,Bank Withdrawal,114.90,8496.70,0.00,0,3482.64,11979.34,Stayed,NaN,NaN
5879,8263-QMNTJ,Male,46,True,0,San Francisco,94104,37.791222,-122.402241,2,...,Bank Withdrawal,115.55,8425.30,0.00,0,3443.04,11868.34,Stayed,NaN,NaN
3879,5451-YHYPW,Female,75,True,0,San Francisco,94129,37.797526,-122.464531,2,...,Credit Card,115.75,8443.70,0.00,120,3232.08,11795.78,Stayed,NaN,NaN
2686,3810-DVDQQ,Female,28,True,1,Shasta Lake,96019,40.692523,-122.369876,10,...,Bank Withdrawal,117.60,8308.90,5.44,0,3385.44,11688.90,Stayed,NaN,NaN
5360,7569-NMZYQ,Female,33,True,3,Middletown,95461,38.787446,-122.586750,1,...,Bank Withdrawal,118.75,8672.45,0.00,0,2962.08,11634.53,Stayed,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 95 to 5576
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   bool
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              7043 non-null   object
 12  Phone Service                      7043 non-null   bool
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   bool
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   bool
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: bool(4), float64(9), int64(6), object(19)
memory usage: 1.9+ MB

#### Creating Segments by Revenue

In [5]:
segments = ['Segment {}'.format(i) for i in range(1,6)] #Create labels for segments
sum_revenue = data['Total Revenue'].sum() #Find sum of total revenue
data['Cum_pct'] = round((data['Total Revenue'].cumsum() / sum_revenue)*100 ,2) #Create a field of cumulative percentage

In [8]:
data['Rev_Segments'] = pd.cut(data['Cum_pct'], bins=[0,20,40,60,80,100], labels=segments) # Using cut create 5 segments by Cumulutive pct
data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason,Cum_pct,Rev_Segments
95,0164-APGRB,Female,56,False,0,Calistoga,94515,38.629618,-122.593216,0,...,8496.70,0.00,0,3482.64,11979.34,Stayed,NaN,NaN,0.06,Segment 1
5879,8263-QMNTJ,Male,46,True,0,San Francisco,94104,37.791222,-122.402241,2,...,8425.30,0.00,0,3443.04,11868.34,Stayed,NaN,NaN,0.11,Segment 1
3879,5451-YHYPW,Female,75,True,0,San Francisco,94129,37.797526,-122.464531,2,...,8443.70,0.00,120,3232.08,11795.78,Stayed,NaN,NaN,0.17,Segment 1
2686,3810-DVDQQ,Female,28,True,1,Shasta Lake,96019,40.692523,-122.369876,10,...,8308.90,5.44,0,3385.44,11688.90,Stayed,NaN,NaN,0.22,Segment 1
5360,7569-NMZYQ,Female,33,True,3,Middletown,95461,38.787446,-122.586750,1,...,8672.45,0.00,0,2962.08,11634.53,Stayed,NaN,NaN,0.28,Segment 1

In [12]:
data.to_csv('segmented_churn_data.csv', index=False) # Saving as new csv